@model AspDropdownTestApp.Models.Student

<div id="p_1" onclick="clickChange02()">
    <p>Partial View 01</p>
    <p>@Model.Name</p>
    <p>@Model.RegNo</p>    

</div>
@ViewData["msg"]Message passed by view data
