
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyDataPassing</title>
</head>
<body>
    <div>
        <p> My first wolrd print</p> 
    </div>
</body>
</html>
